/* src/components/DeadlineItem.css */

.DeadlineItem {
    margin-bottom: 5px;
  }
  
  .DeadlineItem p {
    margin: 0;
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 5px;
  }
  